.cat{
    border: 1px gray solid;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    height: 100px;
    width: 200px;
    font-size: 30px;
    box-shadow: 0 0 7px 0;
  }
  .cat:hover{
    background-color: black;
    color: white;
  }
  .cat h3{
    margin: 0;
    position: relative;
    top: 10px;
  }
